# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
